<div class="login">
  <div class="form">
    <form class="form-container" [formGroup]="loginForm">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-title">

            <h3>TBC Money Biz | Login</h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <ng-template
            [ngIf]="loginStatusMessage && loginStatusMessage.length > 0"
          >
            <p-messages
              severity="success"
              [(value)]="loginStatusMessage"
            ></p-messages>
          </ng-template>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              class="input input-block"
              name="username"
              id="username"
              formControlName="username"
              pInputText
            />
            <div
              class="error-message"
              *ngIf="
                !loginForm.controls.username.untouched &&
                loginForm.controls.username.invalid
              "
            >
              <ng-template [ngIf]="loginForm.controls.username.errors.required">
                <small>Username is required</small>
              </ng-template>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Password</label>
            <input
              type="password"
              class="input input-block"
              name="password"
              id="password"
              formControlName="password"
              pInputText
            />
            <div
              class="error-message"
              *ngIf="
                !loginForm.controls.password.untouched &&
                loginForm.controls.password.invalid
              "
            >
              <ng-template [ngIf]="loginForm.controls.password.errors.required">
                <small>Password is required</small>
              </ng-template>
              <ng-template
                [ngIf]="loginForm.controls.password.errors.minlength"
              >
                <small
                  >Password must have atleast
                  {{
                    loginForm.controls.password.errors.minlength.requiredLength
                  }}
                  characters length</small
                >
              </ng-template>
            </div>
          </div>

          <div class="form-group">
            <button
              pButton
              type="button"
              label="Login"
              class="p-button-primary"
              (click)="login()"
              [disabled]="loginProcessing"
            ></button>
            <button
              pButton
              type="button"
              label="Don't have account?"
              class="p-button-link pull-right"
              (click)="goToRegister()"
              [disabled]="loginProcessing"
            ></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
