$color-primary: #30475e;
$color-default: #ffffff;
$color-success: #ff9a76;
$color-info: #f4f6ff;
$color-warning: #ffa931;
$color-error: #fa1616;
$color-dark: #393e46;
$text-xs: 12px;
$text-sm: 14px;
$text-md: 16px;
$text-lg: 18px;
$text-xl: 24px;
$text-2xl: 32px;
$text-3xl: 38px;
$text-4xl: 42px;
$text-5xl: 48px;
$text-6xl: 52px;
$text-7xl: 58px;
$text-8xl: 62px;
$text-9xl: 68px;
$text-10xl: 72px;
$text-title: 4rem;
$col-1: 8.33%;
$col-2: 16.66%;
$col-3: 25%;
$col-4: 33.33%;
$col-5: 41.66%;
$col-6: 50%;
$col-7: 58.33%;
$col-8: 66.66%;
$col-9: 75%;
$col-10: 83.33%;
$col-11: 91.66%;
$col-12: 100%;
$media-xs: 320px;
$media-sm: 640px;
$media-md: 768px;
$media-lg: 1024px;
$media-xl: 1280px;
$rounded: 0.25rem;
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);