.dashboard {
  background-color: #ffffff !important;
  .light-background {
    background-color: #ffffff !important;
    .p-menubar {
      background-color: #ffffff !important;
    }
  }

  .p-menubar {
    background-color: #ffffff !important;
  }
}
